@font-face {
   font-family: 'Abril Fatface';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///Users/leonseeger/Documents/GitHub/virus/fonts/Abril Fatface/regular.ttf') format('truetype');
}
